.inscription-container
{
  width: 80%;
  height: 100%;
  margin-top: 8%;
  margin-left: 10%;
  display:flex;
}

.inscription-form
{
  width: 50%;
}

.inscription-container h2
{
  margin-bottom: 40px;
  font-size: 58px;
  font-family: 'Amaranth', sans-serif;
  font-weight: bold;
}

.inscription-container p
{
  font-family: 'Titillium Web', sans-serif;
  line-height: 36px;
  font-size: 22px;
  margin-bottom: 7%;
}

.inscription-container label
{
  position: absolute;
  margin-top: -0.5%;
  margin-left: 3%;
  font-family: "amaranth", sans-serif;
  font-size: 16px;
  background: white;
  padding-left: 1%;
  padding-right: 1%
}

.inscription-container input
{
  width: 325px;
  padding: 8%;
  margin-bottom: 6%;
  border: 1px solid #5D5D5D;
  border-radius: 5px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

.inscription-container .inscription-button
{
  width: 325px;
  font-size: 18px;
  padding:20px 70px 35px 70px;
  font-family: "amaranth", sans-serif;
  background: #3CB833;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
}

.inscription-illustration
{
  width: 50%;
  margin-top: 8%;
}

.inscription-illustration img
{
  width: 100%;
}
