.new-league-container {
  position: absolute;
  width: 80%;
  height: 100%;
  margin-left: 10%;
}

.new-league-container .content {
  position: absolute;
  top: 15%;
  width: 50%;
}

.new-league-container .content h1 {
  width: 400px;
  margin-bottom: 30px;
  line-height: 71px;
  font-size: 58px;
  font-family: 'Amaranth', sans-serif;
  font-weight: bold;
}

.new-league-container form {
  margin-top: 8%;
}

.new-league-container p {
  font-family: 'Titillium Web', sans-serif;
  line-height: 36px;
  font-size: 22px;
}

.new-league-container form label {
  position: absolute;
  margin-left: 5%;
  font-family: "amaranth", sans-serif;
  font-size: 16px;
  background: white;
  padding: 1%;
}

.new-league-container form input {
  width: 325px;
  padding: 5%;
  border: 1px solid #5D5D5D;
  border-radius: 5px;
  font-family: 'Titillium Web', sans-serif;
}

.new-league-container form div {
  margin-bottom: 3%;
}

.new-league-container form textarea {
  width: 400px;
  height: 150px;
  padding: 5%;
  border: 1px solid #5D5D5D;
  border-radius: 5px;
  font-family: 'Titillium Web', sans-serif;
}

.new-league-container .content button {
  position: absolute;
  margin-top: 15px;
  padding: 20px 70px 35px 70px;
  font-family: "amaranth", sans-serif;
  text-decoration: none;
  background: #3CB833;
  color: white;
  border-radius: 5px;
  font-size: 18px;
}

/************
    illustration
*************/

.new-league-container .illustration {
  position: absolute;
  top: 25%;
  width: 50%;
  margin-left: 50%;
}

.new-league-container .illustration img {
  padding-left: 10%;
  width: 90%;
}
