.new-league-container{
    position: absolute;
    width:80%;
    height: 100%;
    margin-left:10%;
}
.new-league-container form{
    margin-top:8%;
}
.new-league-container form label{
    position: absolute;
    margin-left:5%;
    font-family:"amaranth", sans-serif;
    font-size: 16px;
    background:white;
    padding: 1%;

}
.new-league-container form input{
    width:325px;
    padding:5%;
    border:1px solid #5D5D5D;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
}
.new-league-container form div{
    margin-bottom:3%;
}
.new-league-container form textarea{
    width:400px;
    height: 150px;
    padding:5%;
    border:1px solid #5D5D5D;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
}
.new-league-container .content h1{
    margin-bottom:20px;
}
.new-league-container .content button{
    position: absolute;
    margin-top:15px;
    padding:20px 70px 35px 70px;
    font-family:"amaranth", sans-serif;
    text-decoration: none;
    background:#3CB833;
    color:white;
    border-radius:5px;
    font-size:18px;
}
