.myleague-principal
{
    width: 80%;
    height: 100%;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 10%;
    padding-bottom: 10%;
    display:flex;
    flex-direction: column;
}

.myleague-principal a
{
    text-decoration: none;
}

.myLeague-h2
{
    font-family: "amaranth", sans-serif;
    font-size: 25px;
    margin-top: 30px;
}

.myleague-square1Logo img
{
    width: 47px;
    height: 47px;
}

.myleague-content
{
    height: 10%;
    padding-bottom:5%;
}

.myleague-content h1
{
  font-family: "amaranth", sans-serif;
  bottom: 215px;
  font-size: 58px;
  font-weight: bold;
  margin-bottom: 40px;
}

.myleague-content p
{
  font-family: 'Titillium Web', sans-serif;
  width: 50%;
  bottom: 95px;
  font-size:1.4em;
  line-height: 36px;
}

.myleague-globalSquares
{
    display: flex;
    justify-content: space-between;
    width:100%;

}

.myleague-leaguesSquares1, .myleague-leaguesSquares2
{
  width:40%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.myleague-leaguesSquares1 a, .myleague-leaguesSquares2 a
{
    width:100%;
    margin-bottom:10%;
}


.myleague-leaguesSquares2 .myleague-square2
{
    margin-right: 163px;
}

.myleague-leaguesSquares1 .myleague-square1 .myleague-square1Logo, .myleague-leaguesSquares2 .myleague-square2 .myleague-square2Logo
{
    display: flex;
    align-items: center;
}

.myleague-leaguesSquares1 .myleague-square1, .myleague-leaguesSquares2 .myleague-square2
{
    position: relative;
    font-family: "amaranth", sans-serif;
    background-color: #44538F;
    color: #ffffff;
    width: 100%;
    height:100%;
    padding-top:2%;
    padding-bottom:2%;
    border-radius: 5px;
    margin-bottom: 50px;
}

.myleague-leaguesSquares1 .myleague-square1 h2, .myleague-leaguesSquares2 .myleague-square2 h2
{
    font-size: 22px;
    margin-left: 15px;
}

.myleague-leaguesSquares1 .myleague-square1 .myleague-square1Logo, .myleague-leaguesSquares2 .myleague-square2 .myleague-square2Logo
{
    width: 100%;
    height: 100%;
    display: flex;
}

.myleague-leaguesSquares1 .myleague-square1 .myleague-square1Logo img, .myleague-leaguesSquares2 .myleague-square2 .myleague-square2Logo img
{
    margin-top: 20px;
}

.myleague-square1 .myleague-stateButton, .myleague-square2 .myleague-stateButton
{
  position: absolute;
  right: 22px;
  bottom: 18%;
  font-family: "amaranth", sans-serif;
  font-size: 20px;
  width: 142px;
  height: 52px;
  background-color: #3CB833;
  border-radius: 26px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
